<div class="row">
    <div class="column">
        <div style="width: 50%;">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" style="background-color: var(--light-background-blue);">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            This is the header for the accordion
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <h3>You can put anything you can put in a div in here</h3>
                        <ul>Like lists</ul>
                        <ul>Or things that aren't lists</ul>
                        <ul>Or even other things</ul>
                        <ul>The accordian will extend to the required length</ul>
                    </div>
                </mat-expansion-panel>   
            </mat-accordion>
        </div>
    </div>
    <div class="column">
        <div style="width: 55%;">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h2>Manufacturing</h2>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra arcu rutrum, pellentesque lacus sed, tincidunt velit. Sed tristique nibh in ex cursus mollis. Mauris commodo ornare venenatis. Sed vehicula quam et volutpat bibendum. Aliquam viverra aliquet facilisis. Mauris in lacus id risus consequat lacinia. Aenean ultricies, lorem ac tincidunt ornare, felis leo condimentum ex, eu sodales dolor est a arcu. Praesent euismod quis quam gravida euismod. Pellentesque at nulla ac dolor consequat tristique vitae at tellus. Pellentesque non egestas orci, et eleifend ante. Maecenas varius dui rhoncus, condimentum magna faucibus, consequat eros.
                        Integer laoreet mi et consequat imperdiet. Nulla semper molestie vestibulum. Vestibulum ornare ullamcorper egestas. Vivamus sed nisi elit. Maecenas in bibendum lacus. Proin et lacus nulla. Donec eleifend arcu eu facilisis feugiat. Vestibulum auctor orci et tristique mattis. Mauris elit nisi, scelerisque ut purus id, pretium molestie magna.
                        Nullam quis suscipit orci. Proin euismod mi eget felis luctus, at ullamcorper dolor sodales. Cras porta scelerisque turpis at ultrices. Etiam ac ante vitae diam posuere porta. In semper dolor vitae porttitor condimentum. Donec maximus nulla dignissim eros vestibulum dapibus sed vitae massa. Aliquam erat volutpat. Mauris gravida porta efficitur.      
                        Maecenas interdum eros libero, ac malesuada lorem iaculis eget. Sed id enim mauris. Curabitur at tortor neque. Vestibulum sodales turpis eget ligula pharetra, in placerat metus varius. Donec rutrum pharetra odio eu tempor. Aenean volutpat congue velit sed posuere. Ut bibendum justo et tortor gravida mollis. Cras ac condimentum felis. Cras varius imperdiet lacus, et sollicitudin lacus viverra vitae. Fusce ut sem tellus. Suspendisse fringilla efficitur velit et interdum. Etiam eget aliquam nisi. Donec venenatis hendrerit finibus. Suspendisse potenti.
                        Aenean tempus quam ac rhoncus malesuada. Pellentesque lacinia fringilla nibh, nec consectetur nunc volutpat a. Aenean porta dapibus rutrum. Aliquam interdum mauris orci, non rhoncus dolor venenatis sed. Ut ultrices lacus nec malesuada eleifend. Aliquam nec arcu a metus rhoncus malesuada sit amet iaculis tortor. Sed accumsan turpis at tristique tempor. Etiam ac faucibus urna. Fusce tincidunt tellus cursus, condimentum sapien a, sagittis dolor. Nulla facilisi. Quisque tincidunt gravida ligula, ac facilisis dolor consectetur sed. Aliquam lectus augue, bibendum et viverra id, malesuada sit amet tellus.
                    </div>
                </mat-expansion-panel>   
            </mat-accordion>
        </div>
    </div>
    <!-- <div class="column">
        <div style="width: 40%;">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h2>Manufacturing</h2>
                        </mat-panel-title>   
                    </mat-expansion-panel-header>
                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra arcu rutrum, pellentesque lacus sed, tincidunt velit. Sed tristique nibh in ex cursus mollis. Mauris commodo ornare venenatis. Sed vehicula quam et volutpat bibendum. Aliquam viverra aliquet facilisis. Mauris in lacus id risus consequat lacinia. Aenean ultricies, lorem ac tincidunt ornare, felis leo condimentum ex, eu sodales dolor est a arcu. Praesent euismod quis quam gravida euismod. Pellentesque at nulla ac dolor consequat tristique vitae at tellus. Pellentesque non egestas orci, et eleifend ante. Maecenas varius dui rhoncus, condimentum magna faucibus, consequat eros.
                            Integer laoreet mi et consequat imperdiet. Nulla semper molestie vestibulum. Vestibulum ornare ullamcorper egestas. Vivamus sed nisi elit. Maecenas in bibendum lacus. Proin et lacus nulla. Donec eleifend arcu eu facilisis feugiat. Vestibulum auctor orci et tristique mattis. Mauris elit nisi, scelerisque ut purus id, pretium molestie magna.
                            Nullam quis suscipit orci. Proin euismod mi eget felis luctus, at ullamcorper dolor sodales. Cras porta scelerisque turpis at ultrices. Etiam ac ante vitae diam posuere porta. In semper dolor vitae porttitor condimentum. Donec maximus nulla dignissim eros vestibulum dapibus sed vitae massa. Aliquam erat volutpat. Mauris gravida porta efficitur.      
                            Maecenas interdum eros libero, ac malesuada lorem iaculis eget. Sed id enim mauris. Curabitur at tortor neque. Vestibulum sodales turpis eget ligula pharetra, in placerat metus varius. Donec rutrum pharetra odio eu tempor. Aenean volutpat congue velit sed posuere. Ut bibendum justo et tortor gravida mollis. Cras ac condimentum felis. Cras varius imperdiet lacus, et sollicitudin lacus viverra vitae. Fusce ut sem tellus. Suspendisse fringilla efficitur velit et interdum. Etiam eget aliquam nisi. Donec venenatis hendrerit finibus. Suspendisse potenti.
                            Aenean tempus quam ac rhoncus malesuada. Pellentesque lacinia fringilla nibh, nec consectetur nunc volutpat a. Aenean porta dapibus rutrum. Aliquam interdum mauris orci, non rhoncus dolor venenatis sed. Ut ultrices lacus nec malesuada eleifend. Aliquam nec arcu a metus rhoncus malesuada sit amet iaculis tortor. Sed accumsan turpis at tristique tempor. Etiam ac faucibus urna. Fusce tincidunt tellus cursus, condimentum sapien a, sagittis dolor. Nulla facilisi. Quisque tincidunt gravida ligula, ac facilisis dolor consectetur sed. Aliquam lectus augue, bibendum et viverra id, malesuada sit amet tellus.
                        </p>
                    </div>
                </mat-expansion-panel>   
            </mat-accordion>
        </div>
    </div> -->
</div>
