.filterTitles{
    background-color: var(--irlca-blue);
    color: var(--irlca-white);
    font-size: 3vh;
    font-size: 30px;
    margin-top: 1%;
    width: 20%;
    margin-bottom: 20%;
    /* height: 100%; */
}

.filterRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.filterColumn{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex: 1;
    border-right: 1px solid black;
}

.header{
    display: flex; 
    width: 100%; 
    height: 10%; 
    background-color: var(--irlca-blue);
   
    
}

.title {
    font-size: 25px;
    height: 20%;
    background-color: var(--irlca-blue);
    text-align: center;
    color: #ffffff;
}

.checkbox {
    display: flex;
    flex-direction: column;
    outline: 1px solid var(--irlca-black);
    /* max-width: 450px; */
    min-width: 310px;
  }

.checkItem{
    width: 118%;
    height: 11%;
    margin-top: 10px;
}




.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--irlca-white);
    border: black solid 1px;
    cursor: pointer;
  }

  .container input:checked ~ .checkmark {
    background-color: var(--irlca-blue);
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  
.buttonInModal{
    background-color: var(--irlca-light-blue);
    height: 36px;
    border: none;
    font-size: 16px;
    color: var(--irlca-white);
    border-radius: 5px;
    display: inline-block;
    align-self: flex-start;
}
