<div class="header" align="center">
    <div *ngFor="let title of titles" class="filterTitles">
        {{title}}
    </div>

</div>
    <div class="filterRow" style="justify-content: space-around;">
        <div class="filterColumn" style="width: 40px;">
            <div *ngFor="let entity of allFilterObjects.entity | filterSearch: searchedTerm" style="padding: 2%;">
                <label class="container" *ngIf="entity.clicked == true">{{entity.name}}
                    <input type="checkbox" id="{{entity.name}} + 2" (click)="toggleFilterTypeList_0016(entity.name, ' + 2', allFilterObjects.entity)" checked="true">
                    <span class="checkmark"></span>
                </label>
                <label class="container" *ngIf="entity.clicked == false">{{entity.name}}
                    <input type="checkbox" id="{{entity.name}} + 3" (click)="toggleFilterTypeList_0016(entity.name, ' + 3', allFilterObjects.entity)">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="filterColumn" style="width: 40px;">
            <div *ngFor="let inspector of allFilterObjects.inspector | filterSearch: searchedTerm" style="padding: 2%;">
                <label class="container" *ngIf="inspector.clicked == true">{{inspector.name}}
                    <input type="checkbox" id="{{inspector.name}} + 2" (click)="toggleFilterTypeList_0016(inspector.name, ' + 2', allFilterObjects.inspector)" checked="true">
                    <span class="checkmark"></span>
                </label>
                <label class="container" *ngIf="inspector.clicked == false">{{inspector.name}}
                    <input type="checkbox" id="{{inspector.name}} + 3" (click)="toggleFilterTypeList_0016(inspector.name, ' + 3', allFilterObjects.inspector)">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="filterColumn" style="width: 40px;">
            <div *ngFor="let area of allFilterObjects.area | filterSearch: searchedTerm" style="padding: 2%;">
                <label class="container" *ngIf="area.clicked == true">{{area.name}}
                    <input type="checkbox" id="{{area.name}} + 2" (click)="toggleFilterTypeList_0016(area.name, ' + 2', allFilterObjects.area)" checked="true">
                    <span class="checkmark"></span>
                </label>
                <label class="container" *ngIf="area.clicked == false">{{area.name}}
                    <input type="checkbox" id="{{area.name}} + 3" (click)="toggleFilterTypeList_0016(area.name, ' + 3', allFilterObjects.area)">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="filterColumn" style="width: 40px;">
            <div *ngFor="let status of allFilterObjects.status | filterSearch: searchedTerm" style="padding: 2%;">
                <label class="container" *ngIf="status.clicked == true">{{status.name}}
                    <input type="checkbox" id="{{status.name}} + 2" (click)="toggleFilterTypeList_0016(status.name, ' + 2', allFilterObjects.status)" checked="true">
                    <span class="checkmark"></span>
                </label>
                <label class="container" *ngIf="status.clicked == false">{{status.name}}
                    <input type="checkbox" id="{{status.name}} + 3" (click)="toggleFilterTypeList_0016(status.name, ' + 3', allFilterObjects.status)">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="filterColumn" style="width: 40px;">
            <div *ngFor="let agency of allFilterObjects.agency | filterSearch: searchedTerm" style="padding: 2%;">
                <label class="container" *ngIf="agency.clicked == true">{{agency.name}}
                    <input type="checkbox" id="{{agency.name}} + 2" (click)="toggleFilterTypeList_0016(agency.name, ' + 2', allFilterObjects.agency)" checked="true">
                    <span class="checkmark"></span>
                </label>
                <label class="container" *ngIf="agency.clicked == false">{{agency.name}}
                    <input type="checkbox" id="{{agency.name}} + 3" (click)="toggleFilterTypeList_0016(agency.name, ' + 3', allFilterObjects.agency)">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
<div>
    <input type="text" style="margin-right: 10%;" [(ngModel)]="searchedTerm">
    <button class="buttonInModal" (click)="closeDialogOnCancel_0014(dialogRef)">Cancel</button>
    <button class="buttonInModal" (click)="clearFilters()">Clear All</button>
    <button class="buttonInModal" (click)="exportFilterDialogObject_0017()">Apply</button>
    <button class="buttonInModal" (click)="toggleBoolean_0026(showSaveFilterSection)">Save Filter</button>
    <div *ngIf="showSaveFilterSection">
        <input placeholder="Name here..." id="filterName" [(ngModel)]="filterName">
        <button class="buttonInModal" (click)="saveFilter_0013()">Save</button>
    </div>
    <!-- <input type="checkbox" (click)="selectAll()" id="selectAll"> Select All -->
</div>