<div class="column">
    <div>
        <i id="info-circle" class="fas fa-info-circle">&nbsp;&nbsp;</i>
        <label for="info-circle">Info</label>
    </div>
    <div>
        <i id="bullseye" class="fal fa-bullseye"> &nbsp;&nbsp;</i>
        <label for="bullseye">Scope</label>
    </div>
    <div>
        <i id="calendar-day" class="fal fa-calendar-day"> &nbsp;&nbsp;</i>
        <label for="calendar-day">Agenda</label>
    </div>
    <div>
        <i id="users" class="fal fa-users"> &nbsp;&nbsp;</i>
        <label for="users">Team</label>
    </div>
    <div>
        <i id="file-alt" class="fal fa-file-alt">&nbsp;&nbsp;</i>
        <label for="file-alt">Pre-Inspection Requests</label>
    </div>
    <div>
        <i id="file-alt-2" class="fal fa-file-alt">&nbsp;&nbsp;</i>
        <label for="file-alt-2">Requests</label>
    </div>
    <div>
        <i id="tasks" class="fal fa-tasks">&nbsp;&nbsp;</i>
        <label for="tasks">Self-Inspection Checklist</label>
    </div>
    <div>
        <i id="book-reader" class="fal fa-book-reader">&nbsp;&nbsp;</i>
        <label for="book-reader">Inspection Knowledge</label>
    </div>
    <div>
        <i id="clipboard-list" class="fal fa-clipboard-list"> &nbsp;&nbsp;</i>
        <label for="clipboard-list">Daily Summary</label>
    </div>
    <div>
        <i id="calendar-plus" class="fal fa-calendar-plus"> &nbsp;&nbsp;</i>
        <label for="calendar-plus">Add Calendar Event</label>
    </div>
    <div>
        <i id="book" class="fal fa-book">&nbsp;&nbsp;</i>
        <label for="book">Lessons Learned</label>
    </div>
    <div>
        <i id="cabinet-filing" class="fal fa-cabinet-filing"> &nbsp;&nbsp;</i>
        <label for="cabinet-filing">Quality Records</label>
    </div>
    <div>
        <i id="file-chart-line" class="fal fa-file-chart-line">&nbsp;&nbsp;</i>
        <label for="file-chart-line">Inspection Record</label>
    </div>
    <div>
        <i id="check" class="fal fa-check">&nbsp;&nbsp;</i>
        <label for="check">Tick</label>
    </div>
    <div>
        <i id="times" class="fal fa-times">&nbsp;&nbsp;</i>
        <label for="times">Exit/Cancel</label>
    </div>
    <div>
        <i id="exclamation" class="fas fa-exclamation">&nbsp;&nbsp;</i>
        <label for="exclamation">Alert/Danger</label>
    </div>
    <div>
        <i id="plus" class="fal fa-plus">&nbsp;&nbsp;</i>
        <label for="plus">Add</label>
    </div>
    <div>
        <i id="search" class="fal fa-search">&nbsp;&nbsp;</i>
        <label for="search">Search</label>
    </div>
    <div>
        <i id="bell" class="fal fa-bell">&nbsp;&nbsp;</i>
        <label for="bell">Bell</label>
    </div>
    <div>
        <i id="bell-on" class="fal fa-bell-on">&nbsp;&nbsp;</i>
        <label for="bell-on">Bell Alert</label>
    </div>
    <div>
        <i id="angle-up" class="fal fa-angle-up">&nbsp;&nbsp;</i>
        <label for="angle-up">Caret Up</label>
    </div>
    <div>
        <i id="angle-down" class="fal fa-angle-down">&nbsp;&nbsp;</i>
        <label for="angle-down">Caret Down</label>
    </div>
    <div>
        <i id="caret-left" class="fas fa-caret-left">&nbsp;&nbsp;</i>
        <label for="caret-left">Arrow Left</label>
    </div>
    <div>
        <i id="caret-right" class="fas fa-caret-right">&nbsp;&nbsp;</i>
        <label for="caret-right">Arrow Right</label>
    </div>
    <div>
        <i id="trash-alt" class="fal fa-trash-alt">&nbsp;&nbsp;</i>
        <label for="trash-alt">Delete</label>
    </div>
    <div>
        <i id="edit" class="fal fa-edit">&nbsp;&nbsp;</i>
        <label for="edit">Edit</label>
    </div>
    <div>
        <i id="thumbtack" class="fal fa-thumbtack">&nbsp;&nbsp;</i>
        <label for="thumbtack">Pin</label>
    </div>
    <div>
        <i id="paperclip" class="fal fa-paperclip">&nbsp;&nbsp;</i>
        <label for="paperclip">Attach(ments)</label>
    </div>
    <div>
        <i id="calendar" class="fal fa-calendar">&nbsp;&nbsp;</i>
        <label for="calendar">Calendar (year)</label>
    </div>
    <div>
        <i id="calendar-alt" class="fal fa-calendar-alt">&nbsp;&nbsp;</i>
        <label for="calendar-alt">Calendar (month)</label>
    </div>
    <div>
        <i id="calendar-week" class="fal fa-calendar-week">&nbsp;&nbsp;</i>
        <label for="calendar-week">Calendar (week)</label>
    </div>
    <div>
        <i id="file-spreadsheet" class="fal fa-file-spreadsheet">&nbsp;&nbsp;</i>
        <label for="file-spreadsheet">File (any)</label>
    </div>
    <div>
        <i id="file-image" class="fal fa-file-image">&nbsp;&nbsp;</i>
        <label for="file-image">Image file</label>
    </div>
    <div>
        <i id="expand" class="fal fa-expand">&nbsp;&nbsp;</i>
        <label for="expand">Expand</label>
    </div>
    <div>
        <i id="compress" class="fal fa-compress">&nbsp;&nbsp;</i>
        <label for="compress">Compress</label>
    </div>
    <div>
        <i id="paper-plane" class="fal fa-paper-plane">&nbsp;&nbsp;</i>
        <label for="paper-plane">Send Message</label>
    </div>
    <div>
        <i id="inbox-in" class="fal fa-inbox-in">&nbsp;&nbsp;</i>
        <label for="inbox-in">Inbox</label>
    </div>
    <div>
        <i id="download" class="fal fa-download">&nbsp;&nbsp;</i>
        <label for="download">Download</label>
    </div>
    <div>
        <i id="upload" class="fal fa-upload">&nbsp;&nbsp;</i>
        <label for="upload">Upload </label>
    </div>
    <div>
        <i id="user-plus" class="fal fa-user-plus">&nbsp;&nbsp;</i>
        <label for="user-plus">Add User</label>
    </div>
    <div>
        <i id="bars" class="fal fa-bars">&nbsp;&nbsp;</i>
        <label for="bars">Hamburger </label>
    </div>
    <div>
        <i id="drop-menu" class="fal fa-ellipsis-v">&nbsp;&nbsp;</i>
        <label for="drop-menu">Drop Menu</label>
    </div>
    <div>
        <i id="cog" class="fal fa-cog">&nbsp;&nbsp;</i>
        <label for="cog">Settings</label>
    </div>
    <hr style="width: 100%">
    <h3>Unsure</h3>
    <div>
        <label for="inspection-lead">Inspection Lead &nbsp;&nbsp;</label>
        <i id="inspection-lead" class="fal fa-chalkboard-teacher"></i>
    </div>
    <div>
        <label for="back-room">Back Room &nbsp;&nbsp;</label>
        <i id="back-room" class="fal fa-users-class"></i>
    </div>
    <div>
        <label for="risk">Risk &nbsp;&nbsp;</label>
        <i id="risk" class="fal fa-exclamation-triangle"></i>
    </div>
    <div>
        <label for="issue">Issue &nbsp;&nbsp;</label>
        <i id="issue" class="fal fa-bell-exclamation"></i>    </div>
    <div>
        <label for="inspection-outcomes">Inspection Outcomes &nbsp;&nbsp;</label>
        <i id="inspection-outcomes" class="fal fa-clipboard-user"></i>
    </div>
    <div>
        <label for="handshake">Commitments* &nbsp;&nbsp;</label>
        <i id="handshake" class="fal fa-handshake"></i>
    </div>
    <div>
        <label for="ci-plans">CI Plans* &nbsp;&nbsp;</label>
        <i id="ci-plans" class="fal fa-user-clock"></i>
    </div>
    <div>
        <span>&nbsp;</span>
        <label for="irlca-logo">Irlca Logo* &nbsp;&nbsp;</label>
        <img id="irlca-logo" src="assets\IrlcaBlackVectorLogo.png" alt="Irlca Logo">
    </div>
</div>