.BlueHeading{
    width: 400px;
    margin: auto;
    margin-top: 1%;
}

.BlueHeadingHeader{
    color: white;
    background-color: var(--irlca-blue);
    padding: 0; 
}

.mat-card {
    padding: 0; 
    margin-top: 5%;
 }

.BlueHeading .mat-card-content{
     margin-left: 5%;
     margin-right: 5%;
 }

 .column{
    justify-content: center;
 }

 .title{
     font-size: 16px;
 }

 .normal{
     width: 400px;
 }

 .normal .title .desc{
     margin-left: 5%;
 }

 .normal :hover{
     background-color: grey;
 }

 .box{
    background-color: red;
    height: 50px;
    width: 10px;
    margin-right: 5%;
 }
 .row{
     justify-content: space-between;
     align-items: center;
 }

 .container{
     display: flex;
     flex-direction: column;
     align-items: center;
 }