<div class="container">
    <mat-card class="BlueHeading">
        <mat-card-header class="BlueHeadingHeader">
            <mat-card-title>
                Regulation
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada quis nulla a lacinia.
                Praesent a porttitor ante. Suspendisse vehicula imperdiet tortor ut pharetra. Sed id ligula eget elit
                tincidunt cursus. Suspendisse consequat nisl nec aliquam auctor. Pellentesque sodales magna ut dolor
                ornare, et malesuada ligula posuere. Aenean quis ex at purus venenatis hendrerit vel at lorem. Aliquam
                ac mi euismod, condimentum neque id, malesuada metus. Nam rhoncus ligula eu enim pulvinar efficitur. Nam
                a fringilla metus. Donec neque tellus, semper vitae ex malesuada, tincidunt rutrum nisi. Phasellus
                gravida purus nibh, eu eleifend urna ornare aliquam. Donec ut convallis felis, at interdum tellus.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="BlueHeading">
        <mat-card-header class="BlueHeadingHeader">
            <mat-card-title>
                Regulation
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="column">
                    <div class="title">
                        SME
                    </div>
                    <div class="title">
                        Quality Contract
                    </div>
                </div>
                <div class="column">
                    <div class="text">
                        David McMorrow
                    </div>
                    <div class="text">
                        David McMorrow
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="normal">
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <div class="title" style="margin-left: 20%;">
                        Title 1
                    </div>
                    <div class="desc" style="margin-left: 20%;margin-top: 10%;">
                        Description Text
                    </div>
                </div>
                <div class="box">
                    
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="normal">
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <div class="title" style="margin-left: 20%;">
                        Title 1
                    </div>
                    <div class="desc" style="margin-left: 20%;margin-top: 10%;">
                        Description Text
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>