.standard-bar{
    border: 1px solid var(--irlca-black);
    width: 40vw;
    height: 5vh;
    line-height: 5vh;
}

.search-text{
    padding-left: 2%;
    vertical-align: middle;
    flex: 8;
    border: none;
    background: transparent;
    outline: transparent;
    font-size: 16px;
}

.search-button-right{
    height: 5vh;
    line-height: 5vh;
    border-left: 1px solid var(--irlca-black);
    background-color: var(--irlca-light-blue);
    flex: 1;
    text-align: center;
    color: var(--irlca-white);
    font-weight: 1000;
    font-size: 20px;
}

.search-button-right:hover{
    cursor: pointer;
}

.curved-bar{
    border: 1px solid var(--irlca-black);
    width: 40vw;
    height: 5vh;
    line-height: 5vh;
    border-radius: 5px;
}

.search-button-right-curved{
    height: 5vh;
    line-height: 5vh;
    border-left: 1px solid var(--irlca-black);
    background-color: var(--irlca-light-blue);
    flex: 1;
    text-align: center;
    color: var(--irlca-white);
    font-weight: 1000;
    font-size: 20px;
    border-radius: 0px 5px 5px 0px;
}
.search-button-right-curved:hover{
    cursor: pointer;
}

.oval-bar{
    border: 1px solid var(--irlca-black);
    width: 40vw;
    height: 5vh;
    line-height: 5vh;
    border-radius: 20px;
}

.search-button-right-oval{
    height: 5vh;
    line-height: 5vh;
    flex: 1;
    text-align: center;
    color: var(--irlca-black);
    font-weight: 1000;
    font-size: 20px;
}

.search-button-right-oval:hover{
    cursor: pointer;
}

.big-oval-bar{
    border: 1px solid var(--irlca-black);
    width: 40vw;
    height: 5vh;
    line-height: 5vh;
    border-radius: 40px;
}

.search-button-right-big-oval{
    height: 5vh;
    line-height: 5vh;
    flex: 1;
    text-align: center;
    color: var(--irlca-white);
    background-color: var(--irlca-light-blue);
    font-weight: 1000;
    font-size: 30px;
    border-radius: 50px 50px 50px 50px;
}

.search-button-right-big-oval:hover{
    cursor: pointer;
}

.search-button-right-circle{
    height: 5vh;
    line-height: 5vh;
    flex: 1;
    text-align: center;
    color: var(--irlca-white);
    background-color: var(--irlca-light-blue);
    font-weight: 1000;
    font-size: 20px;
    border-radius: 20px 20px 20px 20px;
}

.search-button-right-circle:hover{
    cursor: pointer;
}

.standard-bar-border{
    border: 3px solid var(--irlca-light-blue);
    width: 40vw;
    height: 5vh;
    line-height: 5vh;
    border-radius: 20px;
}

.search-button-right-border{
    height: 5vh;
    line-height: 5vh;
    background-color: var(--irlca-light-blue);
    flex: 1;
    text-align: center;
    color: var(--irlca-white);
    font-weight: 1000;
    font-size: 20px;
    border-radius: 0px 14px 14px 0px;
}

.search-button-right-border:hover{
    cursor: pointer;
}

.search-button-left-border{
    height: 5vh;
    line-height: 5vh;
    background-color: var(--irlca-light-blue);
    flex: 1;
    text-align: center;
    color: var(--irlca-white);
    font-weight: 1000;
    font-size: 20px;
    border-radius: 14px 0px 0px 14px;
}

.search-button-left-border:hover{
    cursor: pointer;
}