<br>
<div class="standard-bar row">
    <input placeholder="Search..." class="search-text column">   
    <div class="search-button-right column fal fa-search">      
    </div>
</div>
<br>
<div class="curved-bar row">
    <input placeholder="Search..." class="search-text column">
    <div class="search-button-right-curved column fal fa-search">      
    </div>
</div>
<br>
<div class="oval-bar row">
    <input placeholder="Search..." class="search-text column">
    <div class="search-button-right-oval column fal fa-search">      
    </div>
</div>
<br>
<div class="oval-bar row">
    <input placeholder="Search..." class="search-text column">
    <div class="search-button-right-circle column fal fa-search">     
    </div>
</div>
<br>
<div class="big-oval-bar row">
    <input placeholder="Search..." class="search-text column">
    <div class="search-button-right-big-oval column fal fa-search">      
    </div>
</div>
<br>
<div class="standard-bar-border row">
    <input placeholder="Search..." class="search-text column">
    <div class="search-button-right-border column fal fa-search">      
    </div>
</div>
<br>
<div class="standard-bar-border row">
    <div class="search-button-left-border column fal fa-search">   
    </div>
    <input placeholder="Search..." class="search-text column">
</div>

