.navbar{
    display: flex;
    width: 100vw;
    height: 10%;
    background-color: var(--irlca-blue);
    color: white;
    justify-content: flex-start;
    align-items: center;
}

.navbar-item{
    margin-left: 2vw;
    color: white;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    outline: none;
}

.active-link{
    color: var(--irlca-blue) !important;
    text-decoration: none;
    border: none;
    background-color: white;
}

