<div class="navbar">
    <div class="navbar-item" *ngFor="let item of navbarOptions"  [routerLink]="item.link" routerLinkActive="active-link">
            <a class="navbar-link">{{item.name}}</a>
    </div>
</div>