<div class="container">
    <div class="labelRow">
        <p>
            Planning
        </p>
        <p>
            Pre-Inspection
        </p>
        <p>
            Inspection
        </p>
        <p>
            Post-Inspection
        </p>
        <P>
            Close-Out
        </P>
    </div>
    <div class="row">
        <div class="column">
            <span class="dot"><span class="dotGreen" style="background-color: yellow;"></span></span>
        </div>
        <span class="connection"></span>
        <span class="dot" style="transform: translateX(-4px)"></span>
        <span class="connection" style="transform: translateX(-6px)"></span>
        <span class="dot" style="transform: translateX(-8px)"></span>
        <span class="connection" style="transform: translateX(-10px)"></span>
        <span class="dot" style="transform: translateX(-12px)"></span>
        <span class="connection" style="transform: translateX(-14px)"></span>
        <span class="dot" style="transform: translateX(-16px)"></span>
    </div>
    <div class="labelRow">
        <p>
            Planning
        </p>
        <p>
            Pre-Inspection
        </p>
        <p>
            Inspection
        </p>
        <p>
            Post-Inspection
        </p>
        <P>
            Close-Out
        </P>
    </div>
    <div class="row">
        <span class="dot"><span class="dotGreen"></span></span>
        <span class="connection"><span class="connectionGreen">
            </span></span>
        <span class="dot" style="transform: translateX(-4px)"><span class="dotGreen" style="background-color: yellow;"></span></span>
        <span class="connection" style="transform: translateX(-6px)"></span>
        <span class="dot" style="transform: translateX(-8px)"></span>
        <span class="connection" style="transform: translateX(-10px)"></span>
        <span class="dot" style="transform: translateX(-12px)"></span>
        <span class="connection" style="transform: translateX(-14px)"></span>
        <span class="dot" style="transform: translateX(-16px)"></span>
    </div>
    <div class="labelRow">
        <p>
            Planning
        </p>
        <p>
            Pre-Inspection
        </p>
        <p>
            Inspection
        </p>
        <p>
            Post-Inspection
        </p>
        <P>
            Close-Out
        </P>
    </div>
    <div class="row">
        <span class="dot"><span class="dotGreen"></span></span>
        <span class="connection"><span class="connectionGreen">
            </span></span>
        <span class="dot" style="transform: translateX(-4px)"><span class="dotGreen"></span></span>
        <span class="connection" style="transform: translateX(-6px)"><span class="connectionGreen">
            </span></span>
        <span class="dot" style="transform: translateX(-8px)"><span class="dotGreen" style="background-color: yellow
        
        
        
        
        
        
          ;"></span></span>
        <span class="connection" style="transform: translateX(-10px)"></span>
        <span class="dot" style="transform: translateX(-12px)"></span>
        <span class="connection" style="transform: translateX(-14px)"></span>
        <span class="dot" style="transform: translateX(-16px)"></span>
    </div>
    <div class="labelRow">
        <p>
            Planning
        </p>
        <p>
            Pre-Inspection
        </p>
        <p>
            Inspection
        </p>
        <p>
            Post-Inspection
        </p>
        <P>
            Close-Out
        </P>
    </div>
    <div class="row" >
        <span class="dot"><span class="dotGreen"></span></span>
        <span class="connection"><span class="connectionGreen">
            </span></span>
        <span class="dot" style="transform: translateX(-4px)"><span class="dotGreen"></span></span>
        <span class="connection" style="transform: translateX(-6px)"><span class="connectionGreen">
            </span></span>
        <span class="dot" style="transform: translateX(-8px)"><span class="dotGreen"></span></span>
        <span class="connection" style="transform: translateX(-10px)"><span class="connectionGreen">
            </span></span>
        <span class="dot" style="transform: translateX(-12px)"><span class="dotGreen" style="background-color: yellow;"></span></span>
        <span class="connection" style="transform: translateX(-14px)"></span>
        <span class="dot" style="transform: translateX(-16px)"></span>

    </div>
    <div class="labelRow">
        <p>
            Planning
        </p>
        <p>
            Pre-Inspection
        </p>
        <p>
            Inspection
        </p>
        <p>
            Post-Inspection
        </p>
        <P>
            Close-Out
        </P>
    </div>
    <div class="row" >
        <span class="dot"><span class="dotGreen"></span></span>
        <span class="connection"><span class="connectionGreen">
            </span></span>
        <span class="dot" style="transform: translateX(-4px)"><span class="dotGreen"></span></span>
        <span class="connection" style="transform: translateX(-6px)"><span class="connectionGreen">
            </span></span>
        <span class="dot" style="transform: translateX(-8px)"><span class="dotGreen"></span></span>
        <span class="connection" style="transform: translateX(-10px)"><span class="connectionGreen">
            </span></span>
        <span class="dot" style="transform: translateX(-12px)"><span class="dotGreen"></span></span>
        <span class="connection" style="transform: translateX(-14px)"><span class="connectionGreen">
            </span></span>
        <span class="dot" style="transform: translateX(-16px)"><span class="dotGreen" style="background-color: yellow;"></span></span>
    </div>
</div>

<!-- 
<div class="row" *ngIf="lifeCyclePosition == 'Planning'">
    <div class="column">
        <span class="dot"><span class="dotGreen" style="background-color: yellow;"></span></span>
    </div>
    <span class="connection"></span>
    <span class="dot" style="transform: translateX(-4px)"></span>
    <span class="connection" style="transform: translateX(-6px)"></span>
    <span class="dot" style="transform: translateX(-8px)"></span>
    <span class="connection" style="transform: translateX(-10px)"></span>
    <span class="dot" style="transform: translateX(-12px)"></span>
    <span class="connection" style="transform: translateX(-14px)"></span>
    <span class="dot" style="transform: translateX(-16px)"></span>
</div>
<div class="row" *ngIf="lifeCyclePosition == 'Pre-Inspection'">
    <span class="dot"><span class="dotGreen"></span></span>
    <span class="connection"><span class="connectionGreen">
        </span></span>
    <span class="dot" style="transform: translateX(-4px)"><span class="dotGreen" style="background-color: yellow;"></span></span>
    <span class="connection" style="transform: translateX(-6px)"></span>
    <span class="dot" style="transform: translateX(-8px)"></span>
    <span class="connection" style="transform: translateX(-10px)"></span>
    <span class="dot" style="transform: translateX(-12px)"></span>
    <span class="connection" style="transform: translateX(-14px)"></span>
    <span class="dot" style="transform: translateX(-16px)"></span>
</div>
<div class="row" *ngIf="lifeCyclePosition == 'Inspection'">
    <span class="dot"><span class="dotGreen"></span></span>
    <span class="connection"><span class="connectionGreen">
        </span></span>
    <span class="dot" style="transform: translateX(-4px)"><span class="dotGreen"></span></span>
    <span class="connection" style="transform: translateX(-6px)"><span class="connectionGreen">
        </span></span>
    <span class="dot" style="transform: translateX(-8px)"><span class="dotGreen" style="background-color: yellow;"></span></span>
    <span class="connection" style="transform: translateX(-10px)"></span>
    <span class="dot" style="transform: translateX(-12px)"></span>
    <span class="connection" style="transform: translateX(-14px)"></span>
    <span class="dot" style="transform: translateX(-16px)"></span>
</div>
<div class="row" *ngIf="lifeCyclePosition == 'Post-Inspection'">
    <span class="dot"><span class="dotGreen"></span></span>
    <span class="connection"><span class="connectionGreen">
        </span></span>
    <span class="dot" style="transform: translateX(-4px)"><span class="dotGreen"></span></span>
    <span class="connection" style="transform: translateX(-6px)"><span class="connectionGreen">
        </span></span>
    <span class="dot" style="transform: translateX(-8px)"><span class="dotGreen"></span></span>
    <span class="connection" style="transform: translateX(-10px)"><span class="connectionGreen">
        </span></span>
    <span class="dot" style="transform: translateX(-12px)"><span class="dotGreen" style="background-color: yellow;"></span></span>
    <span class="connection" style="transform: translateX(-14px)"></span>
    <span class="dot" style="transform: translateX(-16px)"></span>

</div>
<div class="row" *ngIf="lifeCyclePosition == 'Close-Out'">
    <span class="dot"><span class="dotGreen"></span></span>
    <span class="connection"><span class="connectionGreen">
        </span></span>
    <span class="dot" style="transform: translateX(-4px)"><span class="dotGreen"></span></span>
    <span class="connection" style="transform: translateX(-6px)"><span class="connectionGreen">
        </span></span>
    <span class="dot" style="transform: translateX(-8px)"><span class="dotGreen"></span></span>
    <span class="connection" style="transform: translateX(-10px)"><span class="connectionGreen">
        </span></span>
    <span class="dot" style="transform: translateX(-12px)"><span class="dotGreen"></span></span>
    <span class="connection" style="transform: translateX(-14px)"><span class="connectionGreen">
        </span></span>
    <span class="dot" style="transform: translateX(-16px)"><span class="dotGreen" style="background-color: yellow;"></span></span> -->
<!-- </div> -->