

.row{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100px;
}

.labelRow{
    display: flex;
    justify-content: space-between;
}

.dot {
    display: flex;
    height: 50px;
    width: 50px;
    background-color: var(--irlca-blue);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }

.dotGreen{
    height: 35px;
    width: 35px;
    background-color: var(--irlca-green);
    border-radius: 50%;
    display: inline-block;
}

.connection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 150px;
    background-color: var(--irlca-blue);
    transform: translateX(-2px);
    z-index: 1;
}

.connectionGreen{
    height: 7.5px;
    width: 150px;
    background-color: var(--irlca-green);
    z-index: 1;
}

.column{
    justify-content: space-around;
    align-items: flex-end;
    display: flex;
}

p{
    margin: 0;
}
