<div class="container">
    <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [legend]="showLegend"
        [legendPosition]="legendPosition" [doughnut]="isDoughnut">
    </ngx-charts-pie-chart>
    <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="single">
    </ngx-charts-advanced-pie-chart>
    <ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel">
  <!-- (select)="onSelect($event)" -->

</ngx-charts-bar-vertical>F
</div>