<mat-tab-group>
    <mat-tab   label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>

<!-- <button (click)="formatDate_XXXX('2019-10-14 11:22:49.537')"></button> -->
  
  
  
