<div class="row">
    <div class="column">
        <button class="standardButton">Save</button>
        <br>
        <button class="standardButton">Cancel</button>
        <br>
        <button class="standardButton">Update&nbsp;Team</button>
        <br>
        <button class="standardButton">Display&nbsp;Team&nbsp;Details</button>
        <br>
        <button class="standardButton">Add&nbsp;Request</button>
        <br>
        <button class="standardButton">Add&nbsp;Team&nbsp;Member</button>
        <br>
        <button class="standardButton">Close&nbsp;Team&nbsp;Details</button>
        <br>
        <button class="standardButton">Add&nbsp;Event</button>
        <br>
        <button class="standardButton">Approve</button>
        <br>
        <button class="standardButton">Open</button>
        <br>
        <button class="standardButton">Attach</button>
        <br>
        <button class="standardButton">Edit</button>
        <br>
        <button class="standardButton">Final&nbsp;Planning</button>
        <br>
        <button class="standardButton">Filter</button>
        <br>
        <button class="standardButton">Submit</button>
        <br>
        <button class="standardButton">Download</button>
        <br>
        <button class="standardButton">Add&nbsp;Stream</button>
        <br>
        <button class="standardButton">Split&nbsp;Inspection</button>
        <br>
        <button class="standardButton">Add&nbsp;Inspector</button>
        <br>
        <button class="standardButton">Complete</button>
        <br>
        <button class="standardButton">Start&nbsp;Inspecion</button>
        <br>
        <button class="standardButton">Reset&nbsp;Form</button>
        <br>
        <button class="standardButton">Generate&nbsp;Report</button>
        <br>
        <button class="standardButton">Inspector&nbsp;Sign-in</button>
        <br>
        <button class="standardButton">Filter</button>
        <br>
        <button class="standardButton">Add</button>
        <br>
        <button class="standardButton">Add&nbsp;Task</button>
        <br>
        <button class="standardButton">Close&nbsp;Request</button>
        <br>
        <button class="standardButton">Add&nbsp;Commitment</button>
        <br>
        <button class="standardButton">Add&nbsp;Note</button>
        <br>
        <button class="standardButton">Add&nbsp;Issue</button>
        <br>
        <button class="standardButton">Commit</button>
        <br>
        <button class="standardButton">Finish&nbsp;Close-Out</button>
        <br>
        <button class="standardButton">Update</button>
        <br>
        <button class="standardButton">Attach&nbsp;CAPA</button>
    </div>
    <div class="column">
        <button class="buttonInModal">Save</button>
        <br>
        <button class="buttonInModal">Cancel</button>
        <br>
        <button class="buttonInModal">Update&nbsp;Team</button>
        <br>
        <button class="buttonInModal">Display&nbsp;Team&nbsp;Details</button>
        <br>
        <button class="buttonInModal">Add&nbsp;Request</button>
        <br>
        <button class="buttonInModal">Add&nbsp;Team&nbsp;Member</button>
        <br>
        <button class="buttonInModal">Close&nbsp;Team&nbsp;Details</button>
        <br>
        <button class="buttonInModal">Add&nbsp;Event</button>
        <br>
        <button class="buttonInModal">Approve</button>
        <br>
        <button class="buttonInModal">Open</button>
        <br>
        <button class="buttonInModal">Attach</button>
        <br>
        <button class="buttonInModal">Edit</button>
        <br>
        <button class="buttonInModal">Final&nbsp;Planning</button>
        <br>
        <button class="buttonInModal">Filter</button>
        <br>
        <button class="buttonInModal">Submit</button>
        <br>
        <button class="buttonInModal">Download</button>
        <br>
        <button class="buttonInModal">Add&nbsp;Stream</button>
        <br>
        <button class="buttonInModal">Split&nbsp;Inspection</button>
        <br>
        <button class="buttonInModal">Add&nbsp;Inspector</button>
        <br>
        <button class="buttonInModal">Complete</button>
        <br>
        <button class="buttonInModal">Start&nbsp;Inspecion</button>
        <br>
        <button class="buttonInModal">Reset&nbsp;Form</button>
        <br>
        <button class="buttonInModal">Generate&nbsp;Report</button>
        <br>
        <button class="buttonInModal">Inspector&nbsp;Sign-in</button>
        <br>
        <button class="buttonInModal">Filter</button>
        <br>
        <button class="buttonInModal">Add</button>
        <br>
        <button class="buttonInModal">Add&nbsp;Task</button>
        <br>
        <button class="buttonInModal">Close&nbsp;Request</button>
        <br>
        <button class="buttonInModal">Add&nbsp;Commitment</button>
        <br>
        <button class="buttonInModal">Add&nbsp;Note</button>
        <br>
        <button class="buttonInModal">Add&nbsp;Issue</button>
        <br>
        <button class="buttonInModal">Commit</button>
        <br>
        <button class="buttonInModal">Finish&nbsp;Close-Out</button>
        <br>
        <button class="buttonInModal">Update</button>
        <br>
        <button class="buttonInModal">Attach&nbsp;CAPA</button>
    </div>
    <div class="column" style="flex: 4;">
        <button class="largeButton">Manufacturing</button>
        <br>
        <button class="largeButton">Batch Production</button>
        <br>
        <button class="standOutButtonRed">Request</button>
        <br>
        <button class="standOutButtonGreen">Request</button>
    </div>
</div>
