.standardButton{
    background-color: var(--irlca-blue);
    height: 36px;
    border: none;
    font-size: 16px;
    color: var(--irlca-white);
    border-radius: 5px;
    align-self: flex-start;
}

.standardButton:hover{
    opacity: 0.5;
    cursor: pointer;
}

.buttonInModal{
    background-color: var(--irlca-light-blue);
    height: 36px;
    border: none;
    font-size: 16px;
    color: var(--irlca-white);
    border-radius: 5px;
    display: inline-block;
    align-self: flex-start;
}

.buttonInModal:hover{
    opacity: 0.5;
    cursor: pointer;
}

.standOutButtonGreen{
    background-color: var(--irlca-green);
    height: 36px;
    border: none;
    font-size: 16px;
    color: var(--irlca-white);
    border-radius: 5px;
    align-self: flex-start;
}

.standOutButtonGreen:hover{
    opacity: 0.5;
    cursor: pointer;
}

.standOutButtonRed{
    background-color: var(--irlca-red);
    height: 36px;
    border: none;
    font-size: 16px;
    color: var(--irlca-white);
    border-radius: 5px;
    align-self: flex-start;
}

.standOutButtonRed:hover{
    opacity: 0.5;
    cursor: pointer;
}

.largeButton{
    background-color: var(--irlca-blue);
    height: 80px;
    border: none;
    width: 250px;
    font-size: 16px;
    color: var(--irlca-white);
    border-radius: 10px;
    align-self: flex-start;
}

.largeButton:hover{
    opacity: 0.5;
    cursor: pointer;
}
