.title {
    font-size: 25px;
    height: 20%;
    background-color: var(--irlca-blue);
    text-align: center;
    color: #ffffff;
}

.checkbox {
    display: flex;
    flex-direction: column;
    outline: 1px solid var(--irlca-black);
    max-width: 600px;
    min-width: 300px;
  }

.checkItem{
    width: 118%;
    height: 11%;
}


.line {
    margin-left: 6%;
    margin-right: 14%;
    margin-top: 5%;
    border-color: #000;
    border-bottom: 1px solid var(--irlca-black);

}

.text {
    font-size: 16px;
    width: 85%;
    display: inline-block;
    margin-bottom: 2%;
    margin-right: 5px;
}

.regular-checkbox {
	-webkit-appearance: none;
	outline: 1px solid var(--irlca-grey);
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    /* left: 2%; */
    margin: 0px;
    margin-right: 5px;
    vertical-align: middle;
}

.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 20px;
	position: absolute;
	left: 7px; 
	color: var(--irlca-black);
}

.addDeleteCheckbox {
    display: flex;
    flex-direction: column;
    outline: 1px solid var(--irlca-black);
    /* max-width: 600px; */
    min-width: 350px;
}

.checkboxDelete {
    height: 30px;
    width: 30px;
    font-size: 25px;
    border-right: 5px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.text2 {
    font-size: 16px;
    width: 78%;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.line2 {
    margin-left: 6%;
    margin-right: 25%;
    border-color: #000;
    border-bottom: 1px solid var(--irlca-black);
    margin-top: 5%;
}

.checkItem2{
    width: 135%;
    height: 11%;
    margin-top: 10px;
}

.buttonInModal{
    background-color: var(--irlca-light-blue);
    height: 36px;
    border: none;
    font-size: 16px;
    color: var(--irlca-white);
    border-radius: 5px;
    display: inline-block;
    align-self: flex-end;
    margin: 10px;
}

.buttonInModal:hover{
    opacity: 0.5;
    cursor: pointer;
}