<p>check-boxes works!</p>
<br><br><br><br><br>

<!-- standard checkbox-->
<div class="checkbox" style="width: 20%;">
    <div class="title">Checkbox </div>
    <div *ngFor="let option of dummyData; let i=index">
        <div class=line>
            <div class="checkItem">
                <div class="text">{{option.name}} </div>
                <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" (click)="optionClicked(i)" />
            </div>
        </div>
    </div>
    <button class="buttonInModal" style="margin-top: 5%;" (click)="approvePressed()">Approve</button>
</div>
<br><br><br><br>

<!-- checkbox with add and delete functionality-->
<div class="addDeleteCheckbox" style="width: 20%;">
    <div class="title">Checkbox </div>
    <div *ngFor="let option of dummyData; let i=index">
        <div class=line2>
            <div class="checkItem2">
                <div class="text2">{{option.name}} </div>
                <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" (click)="optionClicked(i)" />
                <div class="checkboxDelete">
                    <i id="trash-alt" class="fal fa-trash-alt" (click)="deleteClicked(i)"></i>
                </div>
            </div>
        </div>
    </div>
    <div style="align-self: flex-end; margin-top: 4%;">
        <button class="buttonInModal" (click)="addPressed()">add</button>
        <button class="buttonInModal" (click)="approvePressed()">approve</button>
    </div>
</div>