<app-navbar>
</app-navbar>
<div style="display: flex;">
    <div [ngClass]="{'sidebar': !sideBarBoolean, 'expandedSideBar' : sideBarBoolean}">
        <app-sidebar (sendSidebarStatus)="receivingSideBarStatus($event)"></app-sidebar>
    </div>

    <div *ngIf="sideBarBoolean" class="main" style="margin-left: 310px;">
        <router-outlet></router-outlet>
    </div>
    <div *ngIf="!sideBarBoolean" class="main" style="margin-left: 70px;">
        <router-outlet></router-outlet>
    </div>
</div>
