<div class="x" (click)="expandedView()" [hidden]="!expandedSideBarBoolean">
    <i id="times" class="fal fa-times">&nbsp;&nbsp;</i>
</div>
<div class="hamburger" (click)="expandedView()" [hidden]="expandedSideBarBoolean">
    <i id="bars" class="fal fa-bars">&nbsp;&nbsp;</i>
</div>


<div *ngIf="!expandedSideBarBoolean" class="sidebarInfo">
    
    <div class="sidebarHeadings" [ngClass]="{'sidebarHeadings' : 'Information' != optionChosen, 'selectedsidebarHeadings' : 'Information' == optionChosen}"
    (click)="optionPicked('Information')">
        <i id="info-circle" class="fas fa-info-circle">&nbsp;&nbsp;</i>
    </div>
    <div class="sidebarHeadings" [ngClass]="{'sidebarHeadings' : 'Calendar' != optionChosen, 'selectedsidebarHeadings' : 'Calendar' == optionChosen}"
    (click)="optionPicked('Calendar')">
        <i id="calendar" class="fal fa-calendar">&nbsp;&nbsp;</i>
    </div>
    <div class="sidebarHeadings" [ngClass]="{'sidebarHeadings' : 'Report' != optionChosen, 'selectedsidebarHeadings' : 'Report' == optionChosen}"
    (click)="optionPicked('Report')">
        <i id="file-chart-line" class="fal fa-file-chart-line">&nbsp;&nbsp;</i>
    </div>
    <div class="sidebarHeadings" [ngClass]="{'sidebarHeadings' : 'Commitments' != optionChosen, 'selectedsidebarHeadings' : 'Commitments' == optionChosen}"
    (click)="optionPicked('Commitments')">
        <i id="handshake" class="fal fa-handshake"></i>
    </div>
</div>

<div *ngIf="expandedSideBarBoolean" class="sidebarInfo">
    <div [ngClass]="{'sidebarHeadings' : 'Setting' != optionChosen, 'selectedsidebarHeadings' : 'Settings' == optionChosen}"
        (click)="optionPicked('Settings')">
    </div>
    <div [ngClass]="{'sidebarHeadings' : 'Information' != optionChosen, 'selectedsidebarHeadings' : 'Information' == optionChosen}"
        (click)="optionPicked('Information')">
        <i id="info-circle" class="fas fa-info-circle">&nbsp;&nbsp;</i>
        Information
    </div>
    <div [ngClass]="{'sidebarHeadings' : 'Calendar' != optionChosen, 'selectedsidebarHeadings' : 'Calendar' == optionChosen}"
        (click)="optionPicked('Calendar')">
        <i id="calendar" class="fal fa-calendar">&nbsp;&nbsp;</i>
        Calendar
    </div>
    <div [ngClass]="{'sidebarHeadings' : 'Report' != optionChosen, 'selectedsidebarHeadings' : 'Report' == optionChosen}"
        (click)="optionPicked('Report')">
        <i id="file-chart-line" class="fal fa-file-chart-line">&nbsp;&nbsp;</i>
        Report
    </div>
    <div [ngClass]="{'sidebarHeadings' : 'Commitments' != optionChosen, 'selectedsidebarHeadings' : 'Commitments' == optionChosen}"
        (click)="optionPicked('Commitments')">
        <i id="handshake" class="fal fa-handshake"></i>
        Commitments
    </div>
</div>