.sidebarInfo{
    margin-top: 5vh;
    /* margin-bottom: 4%; */
    /* margin-left: 10%; */
}

.sidebarHeadings{
    font-weight: bold;
    font-size: 30px;
    /* font-size: x-large; */
    margin-bottom: 4%;
    color: white;
    margin-left: 10%;
    cursor: pointer;
}

.sidebarHeadings:hover{
    color: var(--irlca-blue);
}

.selectedsidebarHeadings{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 4%;
    color: var(--irlca-blue);
    margin-left: 10%;
    cursor: pointer;
}

.x{
    font-weight: bold;
    font-size: 30px;
    /* font-size: x-large; */
    margin-bottom: 4%;
    color: white;
    margin-left: 90%;
    cursor: pointer; 
}

.x:hover{
    color: var(--irlca-blue);
}

.hamburger{
    margin-left: 10%;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 4%;
    color: var(--irlca-blue);
    /* margin-left: 50%; */
    cursor: pointer;

}