<div style="margin-top: 10px;">
    <button (click)="goToButton()">
        Buttons
    </button>

    <button (click)="goToText()">
        Text
    </button>

    <button (click)="goToDropdown()">
        Dropdown
    </button>

<button (click)="goToCheckBox()">
    check Box
</button>
<button (click)="goToModal()">
    Modal
</button>

    <button (click)="goToCard()">
        Card
    </button>


    <button (click)="goToAccordion()">
        Accordion
    </button>


    <button (click)="goToIcons()">
        Icons
    </button>
    
    <button (click)="goToDatePicker()">
        Date Picker
    </button>

    <button (click)="goToSearch()">
        Search
    </button>
    <button routerLink="charts">
        Charts
    </button>
    <button routerLink="tabs"> Tabs

    </button>

</div>
