
<div class="container">
    <div class="title">
        This is a title
    </div>
    <div class="headings">
        This is a heading
    </div>
    <div class="modalHeading">
        This is a modal Heading
    </div>
    <div class="text">
        This is regular text
    </div>
</div>