.headings{
    font-weight: bold;
    font-size: 25px;
    color: var(--irlca-blue)
}
.title{
    font-weight: bold;
    font-size: 30px;
    color: var(--irlca-blue)
}
.modalHeading{
    font-weight: bold;
    font-size: 25px;
    color: white;
    background-color: var(--irlca-blue)
}

.container{
    display: flex;
    flex-direction: column;
}

.text{
    font-size: 16px;
}