<h1 class="header" mat-dialog-title>Add Suggestion </h1>
<div class="container">
    <div class="contentContainer">
        <div id="content" mat-dialog-content>
            <p><b>Suggestion :</b></p>
            <mat-form-field>
                <!-- <input matInput [(ngModel)]="data.result"> -->
            </mat-form-field>
        </div>
        <div id="content" mat-dialog-content>
            <p><b>System :</b></p>
            <mat-form-field>
                <!-- <input matInput [(ngModel)]="data.result"> -->
            </mat-form-field>
        </div>
    </div>
    <div id="btns" mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <!-- <button mat-button [mat-dialog-close]="data.result" cdkFocusInitial>Save</button> -->
    </div>
</div>