.header{


    color: white;
    background-color: var(--irlca-blue);
    /* height: 100px */
}

.container {
    display:flex;
}

.contentContainer {
    display: flex;
flex-direction: column;}

#content input {
    width:300%;
    height:10vh;
}

#btns {
    margin-left:80%;
}

#btns button{
    background-color: var(--irlca-blue);
    color: white
}