<p>filtering works!</p>
<button class="filter-modal-btn-opn" (click)="openFilterModal_0023()">Open Modal</button>
<ul>
    <li *ngFor="let inspection of dispInspectionsList">
        <b>Entity:</b>&nbsp;<a>{{inspection.entity}}</a><br>
        <b>Inspector:</b>&nbsp;<a>{{inspection.inspector}}</a><br>
        <b>Agency:</b>&nbsp;<a>{{inspection.agency}}</a><br>
        <b>Status:</b>&nbsp;<a>{{inspection.status}}</a><br>
        <b>Area:</b>&nbsp;<a>{{inspection.area}}</a><br><br>
    </li>
</ul>

