.dropdownSelect{
    margin: 0 .25rem;
    min-width: 125px;
    border: 1px solid #eee;
    border-right: 3px solid;
    border-radius: 5px;
    transition: border-color .5s ease-out;
    padding: 1%;
    font-size: 16px;
}


.invalid{
    border-right: solid 8px var(--irlca-red);
    /* border-right-color: red; */
}

.notSet{
    border-right: solid 8px var(--irlca-grey);
    /* border-right-color: grey; */
}

.set{
    border-right: solid 8px var(--irlca-green);
    /* border-right-color: green; */
}

.drop:hover{
    color: grey;
    background-attachment: yellow;
}

option :hover{
    background-color: red;
}

