<select class="dropdownSelect" (change)="chosenOption($event.target.value)">
    <option value="0">-- Choose an option--</option>
    <option class="Matty" *ngFor="let person of people" value={{person}}>
        {{person}}
        </option>
</select>



<select class="dropdownSelect" (change)="chosenOption($event.target.value)"
    [ngClass]="{'invalid': validation() == -1, 'notSet': validation() == 0, 'set': validation() == 1}">
    <option id="drop" value="0">-- Choose an option--</option>
    <option id="drop" class="decorated" *ngFor="let person of people" value={{person}}>
        {{person}}
    </option>
</select>