.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    
  }

  :root{
    --irlca-blue: #0c3c60;
    --irlca-light-blue: #6ea4ca;
    --irlca-green: #0DD12C;
    --irlca-red: #f01818;
    --irlca-amber: #ffc107;
    --irlca-grey: #6c6c6c;
    --irlca-black: #000000;
    --irlca-white: #ffffff;
    --light-background-blue: #D2E0EB;
    --alternate-light-blue: #8ABEE3;
    --irlca-light-grey: lightgrey;
  }
/* You can add global styles to this file, and also import other style files */

  .sidebar{
    overflow-y: hidden;
    overflow-x: hidden;
    /* width: 3%; */
    width: 60px;
    background-color:var(--irlca-light-blue);
    margin-right: 1%;
    position: fixed;
    height: 100%;
  }

  .expandedSideBar{
    overflow-y: hidden;
    overflow-x: hidden;
    /* width: 12%; */
    width: 300px;
    background-color:var(--irlca-light-blue);
    margin-right: 1%;
    position: fixed;
    height: 100%;
  }

  main{
    width: 85%;
  }

  html, body {
    width: 100%;
    /* height: calc(100vh); */
    height: 100%;
    /* font-size: 12px; */
    font-family: 'Calibri', 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: -1;
    overflow: hidden;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.headings{
  font-weight: bold;
  font-size: 25px;
  color: var(--irlca-blue)
}
.title{
  font-weight: bold;
  font-size: 30px;
  color: var(--irlca-blue)
}
.modalHeading{
  font-weight: bold;
  font-size: 25px;
  color: white;
  background-color: var(--irlca-blue)
}

.container{
  display: flex;
  flex-direction: column;
}

.text{
  font-size: 16px;
}
body{
    overflow-y: auto;
}
