<p>date-picker works!</p>


<p><b>Due Date</b></p>
<div class="calendar">
    <input type="Text" placeholder="{{daysSelected}}">
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>calendar_today</mat-icon>
    </button>
</div>


<mat-menu #appMenu="matMenu" class="drop-calendar">
    <div (click)="$event.stopPropagation()">
        <mat-calendar #calendar (selectedChange)="select($event,calendar)" [dateClass]="isSelected"></mat-calendar>
    </div>
</mat-menu>


<!-- 
    you will need the material imports from the appmodule.ts file
        -MatMenuModule,
        -MatIconModule,
        -MatDatepickerModule,
        -MatNativeDateModule
    also the functions and variables from the typescript file
 -->