/** No CSS for this example */
.mat-calendar-body-cell.selected
{
  background-color: var(--irlca-light-blue)!important;
  border-radius: 50%;
  color:var(--irlca-white);
}
.drop-calendar
{
  width:30rem
}

.calendar{
    display: flex;
    border:1px solid black;
    background-color:var(--irlca-light-grey);

}

/* .calendar mat-icon {
  background-color:lightgrey;
  border: 1px solid black;
  padding: 5%;
} */

/* .calendar button {
  background-color:#8abee3;
} */
