.conatinerFlex {
  margin: 15px;
  /* background-color: red; */
}

.rowT {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 1500px;
  height:1000px
}

.columnT {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height:200px;
}

.blue-column {
  background-color: blue;
  height: 100%;
  color:white;
  width: 30%;
}

.green-column {
  background-color: green;
  height: 100%;
}

.yellow-column {
    background-color: yellow;
    height: 100%;
  }

  .yellowSubSplit{
      display:flex;
      flex-direction: row;
      height: 40px;
      justify-content: space-evenly;
      width:100%;
  }

        .orangeSubColumn {
            background-color: orange;
            width:50%;
        }

        .purpleSubSplit{
            background-color: purple;
            color:white;
            width: 50%;        }
    
  .grey-column {
    background-color: grey;
    height: 50%;
  }
  .black-column {
    background-color: black;
    height: 50%;
    color: white;
  }