<div class='conatinerFlex'>
    <div class='rowT'>
        <div class='columnT'>
            <div class='blue-column'>
                <p>column 1 split</p>
                <p>this is 30% of the pages set width</p>
            </div>
        </div>
        <div class='columnT'>
            <div class='green-column'>
                <p>column 2 split</p>
                <p> max width of the row is set to 1000px. Each of these 3 columns represent 1/4 of the overall width. i.e
                    250px</p>
            </div>
        </div>
        <div class='columnT'>
            <div class='yellow-column'>
                <p>column 3 split</p>
                <div class="yellowSubSplit">
                    <div class="orangeSubColumn">
                        hello
                    </div>
                    <div class="purpleSubSplit">
                        Dan
                    </div>
                </div>
                <p>these 2 splits are allocated 50% of the yellow-columns width.</p>
            </div>
        </div>
        <div class='columnT'>
            <div class='grey-column'>
                <p>column 4 a split</p>
            </div>
            <div class="black-column">
                <p>column 4 b split</p>
                <p>this column is split into 2 seperate divs which differ from the previous divs.</p>
                <p>both column A and B are allocated 50% of the total specified height</p>
            </div>
        </div>

    </div>
</div>